<html>
    <head>
        <meta charset='utf-8'>
        <title>Vue List</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <style>
            #header{
                background-color:#3F51B5;
                padding:2%;
            }
            h1{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                margin:0%;
                font-weight: 700;
                color:white;
            }
            #main{
                background-color: #C5CAE9;
                height:100%;
            }
            #add{
                margin-left:25%;
                width:50%;
            }
            .mdl-textfield{
                width:100%;
            }
            .mdl-button--colored{
                margin-left:35%;
                width:30%
            }
            #checklist{
                width:40%;
                margin-left:30%;
            }
            li:hover{
                background-color:#7986CB;
            }
            select{
                width:100%;
                height:3%;
                background-color: #C5CAE9;
                border:0px;
                border-bottom: 1px solid #7986CB;
            }
        </style>
    </head>
    <body>
        <div id="header">
            <h1>Vue Todo List</h1>
        </div>
        <div id="main">
            <form id="add">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="content" v-model="content">
                    <label class="mdl-textfield__label" for="content">Enter a item</label>
                </div>
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" v-on:click="submit">Submit</button>
            </form>
            <div id="checklist">
                <form>
                    <select v-model="listFilter" v-on:change="filterList($event)">
                    <option value="">Show All Items</option>
                    <option value="checked">Show Complete</option>
                    <option value="unchecked">Show Not Complete</option>
                    </select>
                </form>
            
                <ul class="mdl-list">
                <li class="mdl-list__item" v-for="item in filteredList ">
                    <span class="mdl-list__item-primary-content">
                        <h4 v-if="item.status==='unchecked'" v-on:click="update(item.id,$event)">{{item.content}}</h4>
                        <h4 v-if="item.status==='checked'"><s>{{item.content}}</s></h4>
                    </span>
                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised" v-on:click="remove(item.id)">Delete</button>
                </li>
                
                </ul>
            </div>
        </div>
        <script>
            
            var checklist = new Vue({
                el: '#checklist',
                data: {
                    list: [],
                    listFilter: "",
                    filteredList: []
                },
                methods:{
                    getAll: function(event){
                        var self = this;
                        axios.get('/list').then(function(response){
                            self.list = []; 
                            for(var i = 0; i<response.data.length; i++){
                                self.list.push({id:response.data[i].id,content:response.data[i].content, status:response.data[i].status})
                            }     
                            self.filterList();          
                        })
                    },
                    update: function(id, event){
                        var self = this;
                         axios.post('/update/'+id).then(function(response){
                            console.log("updated") 
                            self.getAll();

                        })
                    },
                    remove: function(id){
                        var self = this;
                        axios.post('/delete/'+id).then(function(response){
                            self.getAll();
                        })
                    },
                    filterList: function(){
                        if(this.listFilter==""){
                            this.filteredList=this.list;
                            return;
                        }
                        
                        this.filteredList=[]
                        for(var i = 0; i<this.list.length;i++){
                            if(this.list[i].status==this.listFilter){
                                this.filteredList.push(this.list[i])
                            }
                        }
                        return;
                    }
                }
            });
            checklist.getAll();
            var form = new Vue({
                el: '#add',
                data:{
                    content: ""
                },
                methods: {
                    submit: function(event){
                        var self = this;
                        axios.post('/list/'+this.content)
                        .then(function (response) {
                            self.content = "";
                            console.log("Added!")
                            checklist.getAll();
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    }
                }
            })
        </script>
    </body>
</html>